.searchPage_header {
  /* display: flex; */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: center;
  margin-left: 30px;
  /* padding-bottom: 20px; */
  border-bottom: 1px solid lightgray;
  justify-content: center;
}

.searchPage_logo {
  object-fit: contain;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.searchPage_headerBody > .Search > .search_input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_result {
  margin: 20px 0;
  margin-right: 10px;
}

.searchPage_resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage_results {
  /* max-width: 650px; */
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 100px;
}

.searchPage_resultTitle {
  text-decoration: none;
}

.searchPage_resultTitle:hover {
  text-decoration: underline;
}

.searchPage_resultTitle > h2 {
  font-weight: 500;
}

.searchPage_resultSnippet {
  margin-top: 10px;
}
